* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  /* background-color: #f2c200; */
}
.nav {
  padding: 16px 160px;
  background-color: #0c3440;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  flex: 3;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  flex: 2;
}
/* .nav .nav-links {
} */
.nav-links ul {
  display: flex;
  justify-content: space-between;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
}
.nav-links ul li a,
.nav a {
  text-decoration: none;
  color: #fff;
}
.nav-links ul li a {
  display: inline-flex;
}
.nav-links ul li a,
.nav-logo a,.main-heading span, .main-heading p::first-letter,.input-sec button::first-letter,.title-sec p span:nth-of-type(1)::first-letter,.title-sec p span:nth-of-type(2)::first-letter,.icon-heading h2,.first-card-text-sec h2,.icon-heading h2,.heading-sec h2,.quote-sec p,.penLogo h2,.card-text p::first-letter,.card-text h2::first-letter,.teamLogo h2{
  text-transform: capitalize;
}
.first-card-text-sec a{
  text-transform: uppercase;

}
.container .banner-sec {
  background: linear-gradient(
      to bottom right,
      rgba(26, 26, 6, 0.808),
      rgba(206, 218, 39, 0.205)
    ),
    right top / cover no-repeat url("../img/bg-image.jpg");
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-sec {
  /* box-shadow: 0rem .3125rem .375rem 0rem rgba(0, 0, 0, 0.69); */
}
.container .banner-sec .main-heading {
  font-size: 28.8px;
  color: #fff;
  text-align: center;
}
.container .banner-sec .main-heading h1 {
  padding: 0 0 48px 0;
}
.container .banner-sec .main-heading h1 span {
  color: #f2c200;
}
.container .banner-sec .main-heading p {
  padding: 0 0 8px 0;
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
.input-sec {
  display: flex;
  width: 54%;
  justify-content: center;
}
.input-sec input {
  text-align: center;
  font-size: 22.4px;
  width: 80%;
  padding: 16px 0;
  border-radius: .1875rem;
  border: none;
  margin: 0 3.2px 0 0;
}
.input-sec input::placeholder {
  color: #b2b4b1;
}
.input-sec button {
  font-size: 22.4px;
  background-color: #f2c200;
  border: none;
  color: #fff;
  font-weight: 700;
  width: 29%;
  border-radius: .1875rem;
}
.social-icons {
  padding: 48px 0 0 0;
  font-size: 40px;
  display: flex;
  width: 34%;
  justify-content: space-evenly;
  align-items: center;
}
.fa-pinterest {
  color: #f07336;
}
.fa-facebook {
  color: #3b569e;
}
.fa-twitter,
.fa-skype {
  color: #fff;
  background-color: #02aff2;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
}
.fa-google-plus {
  color: #d94937;
}
.title-sec {
  text-align: center;
  padding: 128px 0;
  font-size: 32px;
  font-weight: 500;
  background-color: #f2c200;
  color: #fff;
  /* box-shadow: 0rem .3125rem .375rem 0rem rgba(0, 0, 0, 0.69); */
}
.title-sec p span {
  display: block;
  font-weight: 700;
}
.portfolio-sec .fa-desktop,
.fa-gear,
.fa-pen,.fa-users{
  background-color: black;
  color: #fff;
  font-size: 32px;
  border-radius: 50%;
  padding: 13.2px;
}
.portfolio-sec .icon-heading,
.services-sec .icon-heading,
.blog-sec .icon-heading {
  text-align: center;
}
.portfolio-sec .icon-heading h2,
.services-sec .icon-heading h2,
.blog-sec .icon-heading h2 ,.meetTeamSec .teamLogo h2 {
  padding: 16px 0;
}

.services-sec{
  border-top: .125rem solid #ececec;
}

.portfolio-sec,
.services-sec,
.blog-sec {
  /* margin: 16px 0; */
  /* z-index: -1; */
  padding: 80px 0 128px  0;
  background-color: #f0f0f0;
}

.first-card {
  width: 70%;
}
.first-card-image img {
  width: 100%;
}
.portfolio-card,
.service-card-sec {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 16px 96px;
  /* width: 40%; */
}

.fa-bezier-curve{
  transform: rotate(-24deg);
}

.first-service-card p, .first-card-text-sec p{
  color: #a8a49d
}
.first-card-text-sec h2,
.first-service-card h2 {
  font-size: 17.6px;
  font-weight: 700;
}
.first-card {
  padding: 0 16px;
}
.first-card-text-sec p {
  padding: 16px 0;
}
.first-card-text-sec a {
  text-decoration: none;
  color: #f2c200;
}
.first-service-card i {
  font-size: 48px;
  text-align: center;
}
.first-service-card .heading-sec {
  text-align: center;

}

.heading-sec h2{
  padding: 8px 0;
}
.heading-sec i{
  color:#eebf02;
}
.first-service-card {
  margin: 0 16px;
  padding: 8px;
  background-color: #e0e0e0;
}
.quote-sec {
  padding: 128px 0;
  /* font-size: 32px; */
  font-weight: 500;
  background-color: #f2c200;
  color: #000;
  /* box-shadow: 0rem .3125rem .375rem 0rem rgba(0, 0, 0, 0.69); */
}
.quote-sec div {
  padding: 0 160px;
}
.quote-sec div p {
  font-weight: 900;
}
.quote-sec div blockquote {
  font-size: 40px;
  font-weight: 900;
}
.quote-sec blockquote span {
  display: block;
}
.blog-card-sec .first-card-blog div img {
  width: 100%;
}
.blog-card-sec {
  display: flex;
  padding: 0 160px;
}
.blog-text-sec {
  padding: 16px;
}
.blog-text-sec p:first-child {
  padding: 0 0 16px 0;
  text-align: right;
  color: #c9cac9;
}
.blog-text-sec h2 {
  font-size: 19.2px;
}
.first-card-blog {
  width: 70%;
  padding: 0 16px 0 0;
}

/* css */

.blog {
  background-color: #f0f0f0;
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog .penLogo, .meetTeamSec .teamLogo{
  text-align: center;
  padding: 0 0 32px 0;
}
.blog .penLogo h2, .meetTeamSec .teamLogo h2{
  
  padding: 16px 0 0 0;
}
.photos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding:  0 160px 
}
.photos .photo-1{
  margin: 0 16px;
  box-shadow: 0rem .0625rem .125rem .0625rem rgba(0,0,0,30%);
  background-color:#fbfbfb

}
.card-text{
  padding: 16px;
}
.photos .photo-1 p:nth-of-type(1){
  text-align:right;
  font-size: 12.8px;
  padding:  16px 0 16px 0;
  border-top: .125rem dotted grey; 
}
.photos .photo-1 p:nth-of-type(2){
  padding: 16px 0;
  color: #a9a7a1;
}
.photos .photo-1 h2{
  font-size: 19.2px;
  
  
}
.photos .photo-1 img{
 width: 100%; 
}

.photo-1 a{
  color: #eebf02;
  text-decoration: none;
}

.blogBtn{
  padding: 16px;
  font-size: 24px;
  background-color: #f2c200;
  color: #fff;
  border:none;
  margin: 64px 0;
  text-align:center;
}

.meetTeamSec{
  padding: 80px 224px;
  background-color: #322a1f;
  color: #fff;  
  
}
.teamPhotos{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 64px 0;
}

.teamPhotos .member{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 20%
}
.meetTeamSec img{
  width: 60%;
  border-radius: 50%;
} 

.meetTeamSec .para-sec{
  text-align: center;
  padding: 64px 0;
}
.fa-users{
  background-color: #fff;
  color:#322a1f
}
/* #9c9586 */

.member h3{
  padding:  16px 0 0 0;
  
}

.member p:last-child{
  color:#9c9586
}

.para-sec h3 {
  display: inline-block;  
  
}
.para-sec span {
  border-left: .125rem solid grey;
  padding-left: 8px;
  color:#9c9586 
}
.para-sec p{
  color:#9c9586;
  padding: 16px 0; 

}

.para-sec{
  border-top: .125rem dotted grey; 
  border-bottom: .125rem dotted grey; 
  
}

.fa-envelope{
  
  color: #fff;
  font-size: 32px;
  border-radius: 50%;
  padding: 13.2px;
}

.form-sec .icon-sec{
 text-align: center;
}
.icon-sec h2{
  padding: 0 0 16px 0;
}
.form-sec .form{
  display: flex;
  flex-direction: column;
  
}

.form div{
  display: flex;

  justify-content: space-between;
}
.form div input{
  width: 49%;
  margin: 8px;
  padding: 8px;
}
.form textarea{
  padding: 8px;
  margin: 8px;
  height: 160px;
  /* padding: 8px; */

}

.form .formBtn{
  background-color: #eebf02;
  padding: 8px;
  color: #fff;
  border: none;
  margin:  8px;
}
footer{
  text-align: center;
}
footer div{
  margin:  0 0 32px 0;
}
.form-sec{
  padding: 128px  0 0 0;
}

button{
border-radius: .3125rem;
}